@import './color.scss';

* {
    width: 100%;
}

.Home {
    width: 100%;
    height: 100vh;
    background-color: $second;
    border-radius: 0 0 200px 200px;
    border-bottom: 20px;

    >main {
        position: absolute;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 2rem;
        justify-content: center;

        >h1 {
            font: 400 6rem $text1;
            color: $first;
            // position: relative;
            // left: 30%;
            margin-left: 70%;
        }

        >p {
            font: 900 1rem $text1;
            color: $first;
            // position: relative;
            // left: 40%;
            margin-left: 90%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: no-repeat center/auto url("../asset/blue master.png");
        filter: blur(3px);
        border-radius: 0 0 200px 200px;
    }
}


.home2 {
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    background-color: $second;
    padding: 500px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;

    >img {
        width: 30%;
        animation: imgUp 0.7s linear infinite alternate;
    }

    >div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        height: 100vh;
    }

    p {
        color: $first;
        letter-spacing: 2px;
        word-spacing: 5px;
        font: 100 1.2rem $text2;
    }
}

@keyframes imgUp {
    to {
        transform: translate(-10px);
    }
}

.home3 {
    width: 100%;
    height: 120vh;
    background-color: $second;
    margin-top: -200px;
    display: flex;

    >div {
        margin-top: 10%;
        width: 70%;
        height: 80vh;
        background-color: $first;
        border-radius: 0 200px 200px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    h1 {
        text-transform: uppercase;
        border-bottom: 2px solid $dark;
        padding: 0.5rem;
        width: 15rem;
        color: $dark;
        // margin-top: 20%;
        padding-top: 0%;
    }

    P {
        padding: 5rem;
        letter-spacing: 1px;
        word-spacing: 5px;
        line-height: 170%;
        font: italic 100 1.2rem $text2;
    }
}

.Home4 {
    width: 100%;
    height: 100vh;
    background-color: $second;
    display: flex;
    justify-content: flex-end;

    >div {
        margin-top: 10%;
        background-color: $third;
        border-radius: 200px 0 0 200px;
        width: 70%;
        height: 70vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >h1 {
            columns: $first;
            text-transform: uppercase;
            width: 150px;
            border-bottom: 2px solid $first;
            padding: 0.5rem;
        }

        >article {
            display: flex;
            margin: 2rem 0;
            flex-wrap: wrap;
            justify-content: center;

            >div {
                animation: imgUp 0.7s linear infinite alternate;
                margin: 1rem;
                height: 10rem;
                width: 10rem;
                background-color: $first;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $dark;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    filter: invert(1);
                }

                svg {
                    font-size: 4rem;
                }

                p {
                    font: 900 1.2rem $text2;
                    margin-left: 55%;
                }
            }
        }
    }
}


@media screen and (max-width:390px) {
    * {
        width: 100%;
    }

    nav {
        width: 140%;
    }

    .Home {
        overflow-x: hidden;
        height: 0;
        margin-bottom: 75%;
    }

    .Home main {
        position: absolute;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 0%;
        padding: 2rem;
        justify-content: center;
    }

    .Home main h1 {
        // font: 400 3rem $text1;
        color: $first;
        margin-top: 150px;
        font-size: 30px;
        margin-left: 100%;
    }

    .Home>main>p {
        font: 900 1rem "Roboto";
        color: white;
        margin-left: 60%;
    }

    .Home::before {
        content: '';
        top: -12%;
        position: absolute;
        width: 140%;
        height: 50%;
        background: no-repeat center/auto url("../asset/blue master.png");
        filter: blur(3px);
        border-radius: 0;
    }

    .home2 {
        width: 140%;
        height: 100vh;
        background-color: #090c31;
        padding: 500px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -200px;
        margin-bottom: 75px;
    }

    .home2>img {
        width: 50%;
        animation: imgUp 0.7s linear infinite alternate;
    }

    .home2 p {
        color: white;
        letter-spacing: 2px;
        word-spacing: 5px;
        font: 100 1.02rem cursive;
    }

    .home3 {
        width: 140vw;
        height: 85vh;
    }

    .home3 P {
        padding: 5rem;
        letter-spacing: 1px;
        word-spacing: 5px;
        line-height: 170%;
        font: italic 100 1.2rem cursive;
        margin: -58px;
    }

    .Home4 {
        width: 140%;
        background-color: #090c31;
        display: flex;
        justify-content: flex-end;
    }

    .Home4>div {
        background-color: #5853ff;
        border-radius: 200px 0 0 200px;
        width: 90%;
        height: 70vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Home4>div>article {
        display: flex;
        margin: 2rem 0;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -100%;
    }

    .Home4>div>h1 {
        columns: white;
        text-transform: uppercase;
        width: 150px;
        margin-top: 110%;
        border-bottom: 2px solid white;
        padding: 0.5rem;
        position: relative;
        top: -85%;
    }
}

@media screen and (max-width:360px) {

    .home3 {
        width: 140vw;
        height: 85vh;
    }

    .home3 div {
        height: 101%;
    }

    .home3 h1 {
        text-transform: uppercase;
        border-bottom: 2px solid rgb(44, 44, 44);
        padding: 0.5rem;
        width: 15rem;
        color: rgb(44, 44, 44);
        padding-top: 80%;
        margin-top: -65%;
    }

    .Home4>div {
        background-color: #5853ff;
        border-radius: 200px 0 0 200px;
        width: 90%;
        height: 70vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20%;
    }
}